.cameraBox {
    position: relative;
    overflow: hidden;
    width: 25vw;
    aspect-ratio: 5/3;
    display: inline-flex; /* or flex with wrap */
    flex-wrap: wrap;
}

video {
    position: absolute;
    top: 0; left: 0;
    width: inherit;
}

.cameraBox > .optionButtons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.cameraBox > .optionButtons > .button {}